@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600|Marck+Script|Nanum+Gothic|Nanum+Myeongjo|Poiret+One|Tangerine:400,700|Song+Myung|Nanum+Brush+Script|Noto+Serif+KR');

.date{
  font-family: 'Poiret One', cursive;
  color: #333;
}

.groom {
  font-family: 'Nanum Gothic', serif;
  font-size: 40px;
}

.bride {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 40px;
}

.sentense {
  font-family: 'Noto Serif KR', sans-serif;
  font-size: 20px;
}
